.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  left: 5%;
  width: 90%;
  background-color: #fff;
  padding: 1rem;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  top: 38px;
  bottom: 28px;
  position: fixed;
  /*  overflow-y: scroll;*/
  overflow-x: hidden;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .modal {
    width: 1088px;
    left: calc(50% - 544px);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
